<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log-in</title>
</head>
<body>
    <h1>log-in</h1>
    <form method="post" action="/log-in">
         <div>
            <label for="username">User Name: </label>
            <input name="username" id="username" required/>
        </div>
        
        <div>
            <label for="password" >Password: </label>
            <input type="password"  name="password" id="password" required />
        </div>
        <button type="submit">log-in</button>
    </form>
    
</body>
</html>