<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up</title>
</head>
<body>
    <h1>sign-up</h1>
    <form method="post" action="/sign-up">
        <div>
            <label for="firstname">First Name: </label>
            <input name="firstname" id="firstname" required/>
        </div>

         <div>
            <label for="lastname">Last Name: </label>
            <input name="lastname" id="lastname" required/>
        </div>

         <div>
            <label for="username">User Name: </label>
            <input name="username" id="username" required/>
        </div>
        
        <div>
            <label for="password" >Password: </label>
            <input name="password" id="password" required />
        </div>
        <button type="submit">sign-up</button>
    </form>
    
</body>
</html>